<mat-toolbar color="primary" class="menu">
  <mat-toolbar-row class="menu-row mat-elevation-z4">
    <mat-icon>person</mat-icon>
    {{ User.email }}
    <a
      mat-list-item
      class="logout-icon link link--elara"
      (click)="logout()"
      routerLinkActive="active"
    >
      <mat-icon>logout</mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-second-row mat-elevation-z4">
    <a
      class="link link--elara"
      mat-list-item
      routerLink="home"
      routerLinkActive="active"
    >
      <span>Home</span>
    </a>
    <a
      class="link link--elara"
      mat-list-item
      routerLink="chamados"
      routerLinkActive="active"
    >
      <span>Chamados</span>
    </a>
    <a
      class="link link--elara"
      mat-list-item
      routerLink="tecnicos"
      routerLinkActive="active"
    >
      <span>Técnicos</span>
    </a>
    <a
      class="link link--elara"
      mat-list-item
      routerLink="clientes"
      routerLinkActive="active"
    >
      <span>Clientes</span>
    </a>
    <a
      class="link link--elara"
      mat-list-item
      href="https://github.com/luisfelipe449/"
      target="_blank"
    >
      <span>Github</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<router-outlet></router-outlet>
<br />
