<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav mat-elevation-z8" mode="side">
    <img src="../../../assets/img//side-image.svg" alt="Imagem de navegação" />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="tecnicos" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Tecnicos</span>
      </a>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </a>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>code</mat-icon>
        <span>Github</span>
      </a>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button
      class="mat-elevation-z8 menu"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon class="btn" *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon class="btn" *ngIf="drawer.opened">close</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
